.App{
  text-align: center;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title{
  color: rgb(31, 233, 233);
}
.profile-info{
  margin: 10px;
  text-align: left;
  float:left
}
.profile-info label{
  font-size: 15px;
  color: grey;
}
.profile-info label, .profile-info strong{
display:block
}